{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
    {% for content in value %}
        <p>{{value}}</p>
    {% endfor %}
</div>

<div class="view-header">
<h2 class="title">Produk dan Layanan</h2>

<p class="text-center bottom-spacing-medium">Untuk melayani berbagai kebutuhan anda,<br />
KMT meluncurkan beberapa produk dan layanan.</p>
</div>

<div class="view-mt-carousel view-promoted-posts-carousel row view view-mt-promoted-posts-carousel">
<ul class="owl-carousel mt-carousel-container mt-carousel-promoted-posts owl-loaded owl-drag">
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/16" hreflang="en">Pemasangan Hotspot</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$12.00</div>
	</div>
	</div>
	<img alt="Pemasangan Hotspot" class="image-style-large" src="/sites/default/files/base/service-387x182/pemasangan-hotspot.jpg" title="Pemasangan Hotspot" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/17" hreflang="en">Second Service</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$19.99</div>
	</div>
	</div>
	<img alt="Second Service" class="image-style-large" src="/sites/default/files/base/service-387x182/pemasangan-bts.jpg" title="Second Service" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/18" hreflang="en">Penggelaran Kable FO</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$29.99</div>
	</div>
	</div>
	<img alt="Penggelaran Kable FO" class="image-style-large" src="/sites/default/files/base/service-387x182/penggelaran-kable-fo.jpg" title="Penggelaran Kable FO" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/19" hreflang="en">pemasangan-videotron</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$39.99</div>
	</div>
	</div>
	<img alt="pemasangan-videotron" class="image-style-large" src="/sites/default/files/base/service-387x182/pemasangan-videotron.jpg" title="Pemasangan Videotron" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/20" hreflang="en">Fifth Service</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$49.99</div>
	</div>
	</div>
	<img alt="Fifth Service" class="image-style-large" src="/sites/default/files/base/service-387x182/pembuatan-aplikasi-web.jpg" title="Pembuatan Aplikasi Web" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
	<li class="mt-carousel-item">
	<div class="views-field views-field-field-image">
	<div class="field-content">
	<div class="views-field-field-image">
	<div class="overlay-container">
	<div class="overlay">
	<div class="overlay-inner">
	<div class="views-field-title">
	<h5><a href="/node/21" hreflang="en">Sixth Service</a></h5>
	</div>

	<div class="views-field-body">
	<p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually transform…</p>
	</div>

	<div class="views-field-field-mt-price">$59.99</div>
	</div>
	</div>
	<img alt="Sixth Service" class="image-style-large" src="/sites/default/files/base/service-387x182/pembuatan-situs-web.jpg" title="Pembuatan Situs Wb" typeof="Image" /></div>
	</div>
	</div>
	</div>
	</li>
</ul>
</div>

